<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLy_KeToan.Properties.Settings.QLKeToanConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLKeToan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>